@model Feb_6.Models.Order

<h3> <b>Last order : </b></h3>
<h4><span>Order Id :</span> 
    <span class="alert-info"> @Model.OrderID</span>
</h4>
<h4 > 
    <span> Order Date : </span>
    <span class="alert-info"> @Model.OrderDate</span>
</h4>

